@model IEnumerable<JalopyJournal.Models.Fuel>

@{
    ViewBag.Title = "Fuel";
}

<h2>Fuel for @ViewBag.CarDescription</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { carID = ViewBag.CarID })
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Car", "Index", new { carID = ViewBag.CarID, sortOrder = "car_" + ViewBag.SortParm })
        </th>
        <th>
            @Html.ActionLink("Quantity", "Index", new { carID = ViewBag.CarID, sortOrder = "quantity_" + ViewBag.SortParm })
        </th>
        <th>
            @Html.ActionLink("FuelType", "Index", new { carID = ViewBag.CarID, sortOrder = "fueltype_" + ViewBag.SortParm })
        </th>
        <th>
            @Html.ActionLink("Miles", "Index", new { carID = ViewBag.CarID, sortOrder = "miles_" + ViewBag.SortParm })
        </th>
        <th>
            @Html.ActionLink("Date", "Index", new { carID = ViewBag.CarID, sortOrder = "date_" + ViewBag.SortParm })
        </th>
        <th>
            @Html.ActionLink("Cost", "Index", new { carID = ViewBag.CarID, sortOrder = "cost_" + ViewBag.SortParm })
        </th>
        <th>
            @Html.ActionLink("Notes", "Index", new { carID = ViewBag.CarID, sortOrder = "notes_" + ViewBag.SortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Car.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Miles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to List", "CarHome", "Car", routeValues: new { carID = ViewBag.CarID }, htmlAttributes: null)
</div>
